<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/indexstyles.css">
    <title>Cookie Shop</title>
</head>
<body>
    <section>
        <div class="container">
        <nav>
          <h1>Cookie Shop</h1>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/cookies">Shop</a></li>
            <li><a href="/contact">Contact Us</a></li>
          </ul>
        </nav>
        <header>

            <div class="container">
                <ul>
                    <% cookies.forEach(cookies => { %>
                    <li>
                        <a href="/cookies/<%= cookies._id %> ">

                         </a>
                    </li>
                    <a href="/">
                    <!-- <img src="<%= cookies.img %>" alt="n/a"> -->
                </a>
                    <h2><%= cookies.name %> </h2>
                    <p><%= cookies.calories %> </p>
                    <p><%= cookies.protein %> </p>
                   <% }) %> 
                    <!-- <img src="https://sugarspunrun.com/wp-content/uploads/2018/11/worst-chocolate-chip-cookie-recipe-1-of-1.jpg" alt="" class="image"> -->

                </ul>

            </div>
            </div>
</body>
</html>